/* table style */

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: #fff;
  color: #862d2d;
  font-size: 0.9rem;
}

th,
td {
  padding: 0.75rem;
  vertical-align: middle;
  text-align: left;
}

thead th {
  font-weight: 700;
  background-color: #d27979;
  border-top: 2px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

tbody tr:nth-of-type(even) {
  background-color: #f2d9d9;
}

tbody td {
  border-top: 1px solid #dee2e6;
}

/* hover effect */

tr:hover {
  background-color: #f8ecec;
}
